
<div class="row">
    <div class="col-6">
        <h2>Funcionário {{nomeF}}</h2>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-dark" onclick="saltaParaEditar()">Editar</button>
        <button class="btn btn-dark" onclick="saltaParaTras()" >Voltar</button>
    </div>
</div>
<hr>

<input type="hidden" id="id" name="id" value="{{funcionario._id}}">
<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Nome</h6>
    </div>
    <div class="col-9 mt-2">
        <label for="nome" id="nomeFuncionario">{{funcionario.nome}}</label>
    </div>
</div>

<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left"> 
        <h6 class="blockquote">Email</h6>
    </div>
    <div class="col-9 mt-2">
        <label for="nome" id="email">{{funcionario.email}}</label>
    </div>
</div>

<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Departamento</h6>
    </div>
    <div class="col-9 mt-2">
        <label for="nome" id="departamento">{{funcionario.departamento}}</label>
    </div>
</div>

<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Equipa</h6>
    </div>
    <div class="col-9 mt-2">
        <label for="nome" id="equipa">{{funcionario.equipa}}</label>
    </div>
</div>

<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Função</h6>
    </div>
    <div class="col-9 mt-2">
        <label for="nome" id="funcao">{{funcionario.funcao}}</label>
    </div>
</div>

<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Custo por hora</h6>
    </div>
    <div class="col-9 mt-2">
        <label for="nome" id="custo">{{funcionario.custo}}€</label>
    </div>
</div>

<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Cargo</h6>
    </div>
    <div class="col-9 mt-2">
        <label for="nome" id="cargo">{{cargoToString funcionario.role}}</label>
    </div>
</div>
<script>

    function setColor(handle){
        handle.style.backgroundColor = "rgb(95, 158, 160, 0.3)";
    }

    function setColor2(handle){
        handle.style.backgroundColor = "white";
    }

    function saltaParaTras() {
        window.location.href = "/funcionarios";
    }
    
    function saltaParaEditar() {
        funcionario = document.getElementById('id').getAttribute("value");
        window.location.href = "/funcionario/"+funcionario+"/edit";
    }
</script>
 