<div class="container-fluid pl-4 pr-4">
    
    <h2 id="nomeFuncionario">Editar funcionario {{funcionario.nome}}</h2>
      
    <div class="card mt-4">
        <div class="card-body">
            <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="" name="getFuncionario" method="POST">
                <input type="hidden" id="id" value="{{funcionario._id}}">

                <label for="departamento">Departamento*</label>
                {{#if erros.departamento}}
                    <input type="text" id="departamento" name="departamento" value="{{funcionario.departamento}}" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.departamento}}
                    </div>
                {{else}}
                    <input type="text" id="departamento" name="departamento" value="{{funcionario.departamento}}" class="form-control mb-4">
                {{/if}}
                
                <label for="equipa">Equipa*</label>
                {{#if erros.equipa}}
                    <input type="text" id="equipa" name="equipa" value="{{funcionario.equipa}}" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.equipa}}
                    </div>
                {{else}}
                    <input type="text" id="equipa" name="equipa" value="{{funcionario.equipa}}" class="form-control mb-4">
                {{/if}}
                
                <label for="funcao">Função*</label>
                {{#if erros.funcao}}
                    <input type="text" id="funcao" name="funcao" value="{{funcionario.funcao}}" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.funcao}}
                    </div>
                {{else}}
                    <input type="text" id="funcao" name="funcao" value="{{funcionario.funcao}}" class="form-control mb-4">
                {{/if}}

                <label for="funcao">Custo por hora (€)*</label>
                {{#if erros.custo}}
                    <input type="text" id="custo" name="custo" value="{{funcionario.custo}}" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.custo}}
                    </div>
                {{else}}
                    <input type="text" id="custo" name="custo" value="{{funcionario.custo}}" class="form-control mb-4">
                {{/if}}
                
                <div class="form-group">
                    <label for="importancia">Cargo</label>
                    <input type="hidden" id="role" value="{{role}}">
                    <select class="form-control" name="role">
                        <option id="user">Funcionário</option>
                        <option id="userResponsavel">Chefe de equipa</option>
                        <option id="admin">Administrador</option>
                    </select>
                </div>

                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaFuncionario()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
                    
 <script>

    var role = document.getElementById('role').getAttribute("value");
    console.log(role)
    if(role == "user"){
        document.getElementById("user").setAttribute("selected", "selected")
    }else{
        if(role == "userResponsavel"){
            document.getElementById("userResponsavel").setAttribute("selected", "selected")
        }
        else{
            if(role == "admin"){    
                document.getElementById("admin").setAttribute("selected", "selected")
            }
        }
    }
    
    var funcionario = document.getElementById('id').getAttribute("value");
    document.getFuncionario.action = "/funcionario/"+funcionario+"/edit";

    function saltaParaFuncionario(){
        var funcionario = document.getElementById('id').getAttribute("value");
        window.location.href = "/funcionario/"+funcionario;
    }

 </script>