<div class="container-fluid pl-4 pr-4">    
    <h2>Novo funcionário</h2>
    <div class="card mt-4 mb-5">
        <div class="card-body">
            <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="/funcionarios/addFuncionario" method="POST">
                <label for="nome">Nome*</label>
                {{#if erros.nome}}
                    <input type="nome" name="nome" value="{{nomeF}}" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.nome}}
                    </div>
                {{else}}
                    <input type="nome" name="nome" value="{{nomeF}}" class="form-control mb-4" placeholder="Nome">
                {{/if}}


                <label for="funcao">Função na empresa*</label>
                {{#if erros.funcao}}
                    <input type="funcao" class="form-control is-invalid" value="{{funcao}}" name="funcao">
                    <div class="invalid-feedback mb-4">
                        {{erros.funcao}}
                    </div>
                {{else}}
                    <input type="funcao" class="form-control mb-4" value="{{funcao}}" name="funcao" placeholder="Função">
                {{/if}}


                <label for="departamento">Departamento*</label>
                {{#if erros.departamento}}
                    <input type="departamento" class="form-control is-invalid" value="{{departamento}}" name="departamento">
                    <div class="invalid-feedback mb-4">
                        {{erros.departamento}}
                    </div>
                {{else}}
                    <input type="departamento" class="form-control mb-4" value="{{departamento}}" name="departamento" placeholder="Departamento">
                {{/if}}
                
                
                <label for="equipa">Equipa*</label>
                {{#if erros.equipa}}
                    <input type="equipa" class="form-control is-invalid" value="{{equipa}}" name="equipa">
                    <div class="invalid-feedback mb-4">
                        {{erros.equipa}}
                    </div>
                {{else}}
                    <input type="equipa" class="form-control mb-4" value="{{equipa}}" name="equipa" placeholder="Equipa">
                {{/if}}

                <label for="email">Email*</label>
                {{#if erros.email}}
                    <input type="email" class="form-control is-invalid" value="{{email}}" name="email">
                    <div class="invalid-feedback mb-4">
                        {{erros.email}}
                    </div>
                {{else}}
                    <input type="email" class="form-control mb-4" value="{{email}}" name="email" placeholder="E-mail">
                {{/if}}

                <label for="custo">Custo por hora (€)*</label>
                {{#if erros.custo}}
                    <input type="custo" class="form-control is-invalid" value="{{custo}}" name="custo">
                    <div class="invalid-feedback mb-4">
                        {{erros.custo}}
                    </div>
                {{else}}
                    <input type="custo" class="form-control mb-4" value="{{custo}}" name="custo" placeholder="Custo por hora">
                {{/if}}

                <label for="password">Password*</label>
                {{#if erros.password}}
                    <input type="password" class="form-control is-invalid" name="password">
                    <div class="invalid-feedback mb-4">
                        {{erros.password}}
                    </div>
                {{else}}
                    <input type="password" class="form-control mb-4" name="password" placeholder="Password">
                {{/if}}


                <label for="password2">Repita a password*</label>
                {{#if erros.password2}}
                    <input type="password" class="form-control is-invalid" name="password2">
                    <div class="invalid-feedback mb-4">
                        {{erros.password2}}
                    </div>  
                {{else}}
                    <input type="password" class="form-control mb-4" name="password2" placeholder="Confirmação da password">
                {{/if}}
                
                
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaFuncionarios()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function saltaParaFuncionarios(){
        window.location.href = "/funcionarios";
    }
</script>