<div class="container-fluid mt-4">

    <h2>Funcionário</h2>
    
        
    <div class="card mt-4">
        <div class="card-body">
            <form action="" id="form" name="getFuncionario" method="POST" class="m-0">
                <input type="hidden" name="id" id="id" value="{{funcionario._id}}"> 

                <label for="nome">Nome: {{funcionario.nome}}</label>
                <br>

                <label for="email" class="mt-3">Email: {{funcionario.email}}</label>
                <br>

                <label for="departamento" class="mt-3">Departamento: {{funcionario.departamento}}</label>
                <br>

                <label for="equipa" class="mt-3">Equipa: {{funcionario.equipa}}</label>
                <br>

                <label for="funcao" class="mt-3">Função: {{funcionario.funcao}}</label>
                <br> 

                <label for="cargo" class="mt-3">Cargo: {{cargoToString funcionario.role}}</label>
                <br> 
                    
                <button type="submit" class="btn btn-danger mt-3">Remover</button>


        </div>
    </div>
</div>

<script>
    var funcionario = document.getElementById('id').getAttribute("value");
    document.getFuncionario.action = "/funcionario/"+funcionario+"/remove";
</script>