{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h2 id="nomeObra">Editar obra {{obra.nome}}</h2>
 
       
<div class="card mt-4">
    <div class="card-body">
        <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
        <form action="" name="getObra" method="POST">
            <input type="hidden" id="id" value="{{obra._id}}">
            <label for="nome">Nome*</label>
            <input type="text" id="nome" name="nome" value="{{obra.nome}}" class="form-control mb-4">

            <label for="descricao">Descrição*</label>
            <textarea class="form-control mb-4" name="descricao" id="exampleFormControlTextarea1" rows="3">{{obra.descricao}}</textarea>


            <div class="form-group">
                <label for="funcionarios">Dar permissão de intervir na obra</label>
                <select multiple class="form-control" id="funcionarios" name="funcionarios">
                {{#each funcionarios}}
                    <option value="{{nome}}">{{nome}}</option>
                {{/each}}
                </select>
            </div>
                        
 
            {{#ifImAdmin}}
                <label for="percentagem">Percentagem de lucro (%)*</label>
                <input type="text" id="percentagem" name="percentagemLucro" value="{{obra.percentagemLucro}}" class="form-control mb-4" onchange="calcula(this)">
                <label for="preco" id="preco" value="{{obra.despesa}}">Preço: {{obra.orcamento}}€</label>
                <br>
                {{else}}
            {{/ifImAdmin}}

            <button type="submit" class="btn btn-success mt-3"><i class="fa fa-check"></i> Concluir</button>
            <button type="button" onclick="saltaParaObra()" class="btn btn-danger mt-3"><i class="fa fa-close"></i> Cancelar</button>
        </form>
    </div>
</div>
                    
 <script>
     function calcula(handle){
         var despesa = parseInt(document.getElementById("preco").getAttribute("value"));
         var per = document.getElementById("percentagem").value;
         var calculo = despesa + despesa * per / 100;
         if(calculo < despesa)
            calculo = despesa;
         document.getElementById('preco').innerHTML = 'Preço: '+calculo+'€';
     }


    var obra = document.getElementById('id').getAttribute("value");
    document.getObra.action = "/obra/"+obra+"/edit";

    function saltaParaObra(){
        var obra = document.getElementById('id').getAttribute("value");
        window.location.href = "/obra/"+obra;
    }

 </script>