<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

<div class="container-fluid mt-4 pl-4 pr-4">
      
    {{#each erros}}
        <div class="alert alert-danger">{{texto}}</div>
    {{else}}

    {{/each}}
    
    <h2 id="nomeObra">Editar obra {{obra.nome}}</h2>
  
    <div class="card mt-4">
        <div class="card-body">
            <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="" name="getObra" method="POST">
                <input type="hidden" id="id" value="{{obra._id}}">
                <label for="nome">Nome*</label>
                <input type="text" id="nome" name="nome" value="{{obra.nome}}" class="form-control mb-4">

                <label for="descricao">Descrição*</label>
                <textarea class="form-control mb-4" name="descricao" id="exampleFormControlTextarea1" rows="3">{{obra.descricao}}</textarea>


                <div class="form-group mb-4">
                        <select multiple class="form-control multiselect" id="funcionarios" name="funcionarios">
                        {{#each funcionarios}}
                            <option value="{{nome}}" id="{{nome}}" data-img="{{foto}}">{{nome}}</option>
                        {{/each}}
                    </select>
                </div>                            
    
                {{#ifImAdmin}}
                    <label for="percentagem">Percentagem de lucro (%)*</label>
                    <input type="hidden" value={{obra.despesa}} id="despesa">
                    <input type="text" id="percentagem" name="percentagemLucro" value="{{obra.percentagemLucro}}" class="form-control mb-4" onchange="calcula(this)">
                    <label for="preco" id="preco" value="{{obra.despesa}}">Preço: {{obra.orcamento}}€</label>
                    <br>
                    {{else}}
                {{/ifImAdmin}}

                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaObra()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
                    
 <script>
     $('.multiselect').multiselect({
        enableHTML: true,
        nonSelectedText:'Dar permissão de intervir na obra',
        buttonWidth: '300px',
        optionLabel: function(element) {
            return '<img src="'+$(element).attr('data-img')+'" class="avatar"> '+$(element).text();
        }
    });

     function calcula(handle){
         var despesa = parseFloat(document.getElementById("despesa").getAttribute("value"));
         var per = document.getElementById("percentagem").value;
         var calculo = despesa + (despesa * per) / 100;
         if(calculo < despesa)
            calculo = despesa;
         document.getElementById('preco').innerHTML = 'Preço: '+calculo+'€';
     }


    var obra = document.getElementById('id').getAttribute("value");
    document.getObra.action = "/obra/"+obra+"/edit";

    var funcionariosSelecionados = {{{funcionariosSelecionados}}};
    if(funcionariosSelecionados){
        if(funcionariosSelecionados[0].length == 1){
            document.getElementById(funcionariosSelecionados).setAttribute("selected", "selected");
        }
        else{
            for(var i=0; i<funcionariosSelecionados.length; i++){
                document.getElementById(funcionariosSelecionados[i]).setAttribute("selected", "selected");
            }
        }
    }

    function saltaParaObra(){
        var obra = document.getElementById('id').getAttribute("value");
        window.location.href = "/obra/"+obra;
    }

 </script>