<style>
    li:hover{
        cursor: pointer;
    }
    .dropdown-menu > li{
        margin: 10px;
    }
</style>
<div class="container-fluid pl-4 pr-4">    
    <h2>Nova obra</h2>
    <div class="card mt-4">
        <div class="card-body">
            <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="/obras/add" method="POST">
                
                <label for="nome">Nome*</label>
                {{#if erros.nome}}
                    <input type="text" id="nome" name="nome" value="{{nomeO}}" placeholder="Nome da obra" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.nome}}
                    </div>
                {{else}}
                    <input type="text" id="nome" name="nome" value="{{nomeO}}" placeholder="Nome da obra" class="form-control mb-4">
                {{/if}}

                
                
                <div class="dropdown mb-4 form-group">
                    {{#if erros.cliente}}
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-info dropdown-toggle is-invalid" id="btn" type="button" data-toggle="dropdown" name="cliente">Cliente</button>
                                <ul class="dropdown-menu" style="width: 50%;">
                                    {{#if clientes}}
                                        <input class="form-control" id="myInput" type="text" placeholder="Filtro">
                                        {{#each clientes}}
                                            <li>{{nome}} - nif: {{nif}}</li>
                                        {{/each}}
                                    {{/if}}
                                </ul>
                                <div class="invalid-feedback">
                                    {{erros.cliente}}
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-info dropdown-toggle" id="btn" type="button" data-toggle="dropdown">Cliente</button>
                                <input type="hidden" name="cliente" id="cliente" value="nome">
                                <ul class="dropdown-menu" style="width: 50%;">
                                    {{#if clientes}}
                                        <input class="form-control" id="myInput" type="text" placeholder="Filtro">
                                        {{#each clientes}}
                                            <li>{{nome}} - nif: {{nif}}</li>
                                        {{/each}}
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    {{/if}}
                </div>


                <label for="descricao">Descrição*</label>
                {{#if erros.descricao}}
                    <textarea class="form-control is-invalid" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da obra">{{descricao}}</textarea>
                    <div class="invalid-feedback mb-4">
                        {{erros.descricao}}
                    </div>
                {{else}}
                    <textarea class="form-control mb-4" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da obra">{{descricao}}</textarea>
                {{/if}}
                
                <label for="dataPrevistaInicio">Data prevista para inicio</label>
                
                {{#if erros.datas}}
                    <div class="row">
                        <div class="col-3">
                            <input type="datetime-local" value="{{data}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control is-invalid">
                            <div class="invalid-feedback mb-4">
                                {{erros.datas}}
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="row">
                        <div class="col-3">
                            <input type="datetime-local" value="{{data}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control mb-4">
                        </div>
                    </div>
                {{/if}}
                
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaObras()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function saltaParaObras(){
        window.location = "/obras";
    }
    
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $("li").on("click", function() {
            $("#btn").html($(this).text());
            document.getElementById("cliente").setAttribute("value", $(this).text());
        });
    });
 
</script>