<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<div class="container-fluid mt-4">
    <div id="comeca" style="font-family: Palatino Linotype; padding:5%">
        <table style="width: 75%; margin-left: auto; margin-right: auto;">
            <thead>
                <th style="text-align: center;"><img style="height: 25%; width:20%"src="https://www.isec.pt/assets_isec/logo-isec-transparente.png"></th>
            </thead>
        </table>


        <br>
        <h2>Tarefa {{tarefa.nome}}</h2>
        <br>

        <label for="obra">Obra: {{obra.nome}}</label><br>
        <label for="descricao">Descrição: {{tarefa.descricao}}</label><br>
        <label for="despesa">Despesa: {{precoToString tarefa.despesa}}</label><br>
        <label for="orcamento">Orçamento: {{precoToString tarefa.orcamento}}</label><br>
        <label for="despesa">Despesa final: {{precoToString tarefa.despesaFinal}}</label><br>
        <label for="orcamento">Preço final: {{precoToString tarefa.custoFinal}}</label><br>
        <label for="importancia">Importância: {{tarefa.importancia}}</label><br>
        <label for="estado">Estado: {{estadoToString tarefa.estado}}</label><br>
        <label for="datasPrevistas">Datas previstas: {{dateToString tarefa.dataPrevistaInicio}} - {{dateToString tarefa.dataPrevistaFim}}</label><br>
        <label for="datas">Datas: {{dateToString tarefa.dataInicio}} - {{dateToString tarefa.dataFim}}</label><br>

        <br>
        <br>
        <br>
        {{#if funcionarios}}
        <h3>Funcionários</h3>
            <table style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 15%; text-align:left">Nome</th>
                    <th style="width: 20%; text-align:left">Email</th>
                    <th style="width: 15%; text-align:left">Função</th>
                    <th style="width: 15%; text-align:left">Equipa</th>
                    <th style="width: 20%; text-align:left">Departamento</th>
                    <th style="width: 15%; text-align:left">Custo(€/h)</th>
                </tr>
                </thead>
                <tbody>
                    {{#each funcionarios}}
                        <tr>
                            <td style="width: 15%;">{{nome}}</td>
                            <td style="width: 20%;">{{email}}</td>
                            <td style="width: 15%;">{{funcao}}</td>
                            <td style="width: 15%;">{{equipa}}</td>
                            <td style="width: 25%;">{{departamento}}</td>
                            <td style="width: 15%;">{{custo}}</td>
                        </tr>
                    {{else}}

                    {{/each}}
                
                </tbody>
            </table>
            <br>
            <br>
            <br>
        {{/if}}

        {{#if requisicoes}}
        <h3>Requisições</h3>
            <table style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 11%; text-align:left">Máquina</th>
                    <th style="width: 15%; text-align:left">Requisitante</th>
                    <th style="width: 32%; text-align:left">Datas previstas</th>
                    <th style="width: 32%; text-align:left">Datas</th>
                </tr>
                </thead>
                <tbody>
                    {{#each requisicoes}}
                        <tr>
                            <td style="width: 11%;">{{maquinaNome}}</td>
                            <td style="width: 15%;">{{funcionarioNome}}</td>
                            <td style="width: 32%;">{{dateToString dataPrevistaInicio}} - {{dateToString dataPrevistaFim}}</td>
                            <td style="width: 32%;">{{dateToString dataInicio}} - {{dateToString dataFim}}</td>
                        </tr>
                    {{else}}

                    {{/each}}
                
                </tbody>
            </table>
            <br>
            <br>
            <br>
        {{/if}}

        <div id="pageFooter">
            <div class="row">
                <table style="width: 75%; margin-left: auto; margin-right:auto;">
                    <tbody>
                        <td style="width: 34%; text-align: left;">Rua Pedro Nunes <br>
                        Quinta da Nora <br>
                        3030-199 COIMBRA</td>
                        <td style="width: 33%; text-align: center;">ISEC - Coimbra <br>
                            www.isec.pt</td>
                        <td style="width: 33%; text-align: right;">
                            Telefone: +351 239 790 200 <br>
                            Fax: + 351 239 790 201
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br id="finish">
</div>
