<div class="container-fluid pl-4 pr-4">
    
    <h2>Nova requisição</h2>
    <div class="card mt-4">
        <div class="card-body">
            <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="/requisicoes/addRequisicao" method="POST">                
                <div class="form-group">
                    <label for="tarefa">Tarefa*</label>
                    <select class="form-control" id="tarefas" name="tarefas" required>
                        {{#each tarefas}}
                            <option id="{{nome}}">{{nome}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="maquina">Máquina*</label>
                    <select class="form-control" id="maquinas" name="maquinas" required>
                        {{#each maquinas}}
                            <option id="{{nome}}">{{nome}}</option>
                        {{/each}}
                    </select>
                </div>

                <label for="descricao">Descricao*</label>
                {{#if erros.descricao}}
                    <textarea class="form-control is-invalid" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da requisição">{{descricao}}</textarea>
                    <div class="invalid-feedback mb-4">
                        {{erros.descricao}}
                    </div>
                {{else}}
                    <textarea class="form-control mb-4" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da requisição">{{descricao}}</textarea>
                {{/if}}

                <label for="dataPrevistaInicio">Data prevista para inicio*</label>
                {{#if erros.dataInicio}}
                <div class="row">
                    <div class="col-3">
                        <input type="datetime-local" value="{{dataInicio}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control is-invalid">
                        <div class="invalid-feedback mb-4">
                            {{erros.dataInicio}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="row">
                    <div class="col-3">
                        <input type="datetime-local" value="{{dataInicio}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control mb-4">
                    </div>
                </div>
                {{/if}}

                <label for="dataPrevistaFim">Data prevista para fim*</label>
                {{#if erros.dataFinal}}
                <div class="row">
                    <div class="col-3">
                        <input type="datetime-local" value="{{dataFim}}" name="dataPrevistaFim" id="dataPrevistaFim" class="form-control is-invalid">
                        <div class="invalid-feedback mb-4">
                            {{erros.dataFinal}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="row">
                    <div class="col-3">
                        <input type="datetime-local" value="{{dataFim}}" name="dataPrevistaFim" id="dataPrevistaFim" class="form-control mb-4">
                    </div>
                </div>
                {{/if}}
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaRequisicoes()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function saltaParaRequisicoes(){
        window.location = "/requisicoes";
    }

    var maquina = {{{maquina}}};
    var tarefa = {{{tarefa}}};
    
    document.getElementById(maquina).setAttribute("selected", "selected");
    document.getElementById(tarefa).setAttribute("selected", "selected");
</script>