<div class="container-fluid mt-4">
    <div id="comeca" style="font-family: Palatino Linotype; padding:5%">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th style="text-align: left;"><img style="height: 20%; width:20%"src="https://www.isec.pt/assets_isec/logo-isec-transparente.png"></th>
                    </tr>
                </thead>
            </table>
        </div>


        <br>
        <h2>Obra {{obra.nome}}</h2>
        <br>

        <label for="descricao">Descrição: {{obra.descricao}}</label><br><br>
        <label for="orcamento">Orçamento: {{precoToString obra.orcamento}}</label><br><br>
        <label for="datasPrevistas">Datas previstas: {{dateToString obra.dataPrevistaInicio}} - {{dateToString obra.dataPrevistaFim}}</label><br><br>

        <br>
        <br>
        <br>
        {{#if tarefas}}
            <table style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 25%; text-align:left">Nome</th>
                    <th style="width: 50%; text-align:left">Datas previstas</th>
                    <th style="width: 25%; text-align:left">Custo</th>
                </tr>
                </thead>
                <tbody>
                    {{#each tarefas}}
                        <tr>
                            <td style="width: 25%;">{{nome}}</td>
                            <td style="width: 50%;">{{dateToString dataPrevistaInicio}} - {{dateToString dataPrevistaFim}}</td>
                            <td style="width: 25%;">{{precoToString orcamento}}</td>
                        </tr>
                    {{else}}

                    {{/each}}
                
                </tbody>
            </table>
            <hr>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th style="width: 25%; text-align:left">Total</td>
                        <td style="width: 50%;"></td>
                        <td style="width: 25%;">{{precoToString obra.orcamento}}</td>
                    </tr>
                </thead>
            </table>

            <br>
            <br>
            <br>
        {{/if}}
    </div>

    <br id="finish">
</div>