    <div class="container-fluid mt-4">
    <div id="comeca" style="font-family: Palatino Linotype; padding:5%">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th style="text-align: left;"><img style="height: 20%; width:20%"src="https://www.isec.pt/assets_isec/logo-isec-transparente.png"></th>
                    </tr>
                </thead>
            </table>
        </div>


        <br>
        <h2>Lista de obras</h2>
        <br>



        {{#each obras}}
            <h4>Obra {{nome}}</h4>
            <label for="descricao">Descrição: {{descricao}}</label><br>
            <label for="datasPrevistas">Datas previstas: {{dateToString dataPrevistaInicio}} - {{dateToString dataPrevistaFim}}</label><br>
            <label for="datas">Datas: {{dateToString dataInicio}} - {{dateToString dataFim}}</label><br>
            <label for="estado">Estado: {{estadoToString estado}}</label><br>
            <br>
            <br>
            <br>
        {{/each}}
    </div>

    <br id="finish">
</div>