<div class="container-fluid mt-4">
    <div id="comeca" style="font-family: Palatino Linotype; padding:5%">
        <table style="width: 75%; margin-left: auto; margin-right: auto;">
            <thead>
                <th style="text-align: center;"><img style="height: 25%; width:20%"src="https://www.isec.pt/assets_isec/logo-isec-transparente.png"></th>
            </thead>
        </table>


        <br>
        <h2>Lista de obras</h2>
        <br>



        {{#each obras}}
            <h4>Obra {{nome}}</h4>
            <label for="descricao">Descrição: {{descricao}}</label><br>
            <label for="datasPrevistas">Datas previstas: {{dateToString dataPrevistaInicio}} - {{dateToString dataPrevistaFim}}</label><br>
            <label for="datas">Datas: {{dateToString dataInicio}} - {{dateToString dataFim}}</label><br>
            <label for="estado">Estado: {{estadoToString estado}}</label><br>
            <br>
            <br>
            <br>
        {{/each}}

        <div id="pageFooter">
            <div class="row">
                <table style="width: 75%; margin-left: auto; margin-right:auto;">
                    <tbody>
                        <td style="width: 34%; text-align: left;">Rua Pedro Nunes <br>
                        Quinta da Nora <br>
                        3030-199 COIMBRA</td>
                        <td style="width: 33%; text-align: center;">ISEC - Coimbra <br>
                            www.isec.pt</td>
                        <td style="width: 33%; text-align: right;">
                            Telefone: +351 239 790 200 <br>
                            Fax: + 351 239 790 201
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br id="finish">
</div>