<div class="container-fluid pl-4 pr-4">

    {{#each erros}}
        <div class="alert alert-danger">{{texto}}</div>
    {{else}}

    {{/each}}
    
    <h2>Nova tarefa</h2>
    <div class="card mt-4">
        <div class="card-body">
            <label style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="/tarefas/addTarefa" name="getTarefa" method="POST">
                <label for="nome">Nome*</label>
                <input type="text" id="nome" name="nome" value="{{nomeT}}"placeholder="Nome da tarefa" class="form-control mb-4" required>

                <label for="descricao">Descrição*</label>
                <textarea class="form-control mb-4" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da obra" required>{{descricao}}</textarea>

                <div class="form-group">
                    <label for="obra">Obra a que esta tarefa pertence*</label>
                    <select class="form-control" id="obras" name="obras" required>
                        {{#each obras}}
                            <option id="{{nome}}">{{nome}}</option>
                        {{/each}}
                    </select>
                </div>


                <div class="form-group">
                    <label for="funcionarios">Funcionarios a associar* (Tecla ctrl pressionada se pretender selecionar vários)</label>
                    <select multiple class="form-control" id="funcionarios" name="funcionarios" required>
                        {{#each funcionarios}}
                            <option value="{{nome}}" id="{{nome}}">{{nome}}</option>
                        {{/each}}
                    </select>
                </div>

                <label for="dataPrevistaInicio">Data prevista para inicio</label>
                <div class="row">
                    <div class="col-3">
                        <input type="datetime-local" value="{{data}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control mb-4">
                    </div>
                </div>

                <div class="form-group">
                    <label for="importancia">Importância da tarefa</label>
                    <input type="hidden" id="importancia" value="{{tarefa.importancia}}">
                    <select class="form-control" id="importancia" name="importancia">
                        <option id="baixa">Baixa</option>
                        <option id="media">Média</option>
                        <option id="alta">Alta</option>
                    </select>
                </div>
                
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaTarefas()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
                </form>
        </div>
    </div>
</div>

<script>  
    var imp = document.getElementById('importancia').getAttribute("value");
    if(imp == "baixa"){
        document.getElementById("baixa").setAttribute("selected", "selected")
    }else{
        if(imp == "media"){
            document.getElementById("media").setAttribute("selected", "selected")
        }
        else{
            if(imp == "alta"){    
                document.getElementById("alta").setAttribute("selected", "selected")
            }
        }
    }

    var funcionariosSelecionados = {{{funcionariosSelecionados}}};
    if(funcionariosSelecionados[0].length == 1){
        document.getElementById(funcionariosSelecionados).setAttribute("selected", "selected");
    }
    else{
        for(var i=0; i<funcionariosSelecionados.length; i++){
            document.getElementById(funcionariosSelecionados[i]).setAttribute("selected", "selected");
        }
    }
    
    var obra = {{{obra}}};
    document.getElementById(obra.nome).setAttribute("selected", "selected");

    function saltaParaTarefas(){
        window.location.href = "/tarefas";
    }
</script>