<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

<div class="container-fluid pl-4 pr-4">
    <h2>Nova tarefa</h2>
    <h5 id="nomeObra">Obra {{obra.nome}}</h5>
    <div class="card mt-4">
        <div class="card-body">
            <label style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="" name="getTarefa" method="POST">
                <input type="hidden" name="id" id="id" value="{{obra._id}}"> 
                <label for="nome">Nome*</label>
                {{#if erros.nome}}
                    <input type="text" id="nome" name="nome" value="{{nomeT}}" placeholder="Nome da tarefa" class="form-control is-invalid" required>
                        <div class="invalid-feedback mb-4">
                            {{erros.nome}}
                        </div>
                    {{else}}
                    <input type="text" id="nome" name="nome" value="{{nomeT}}" placeholder="Nome da tarefa" class="form-control mb-4" required>
                {{/if}}

                <label for="descricao">Descrição*</label>
                {{#if erros.descricao}}
                    <textarea class="form-control is-invalid" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da obra" required>{{descricao}}</textarea>
                    <div class="invalid-feedback mb-4">
                        {{erros.descricao}}
                    </div>
                    {{else}}
                    <textarea class="form-control mb-4" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da obra" required>{{descricao}}</textarea>
                {{/if}}


                <div class="form-group mb-4">
                    <select multiple class="form-control multiselect" id="funcionarios" name="funcionarios" required>
                        {{#each funcionarios}}
                            <option value="{{nome}}" id="{{nome}}" data-img="{{foto}}">{{nome}}</option>
                        {{/each}}
                    </select>
                </div>

                
                <label for="dataPrevistaInicio">Data prevista para inicio</label>
                {{#if erros.datas}}
                    <div class="row">
                        <div class="col-3">
                            <input type="datetime-local" value="{{data}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control is-invalid">
                            <div class="invalid-feedback mb-4">
                                {{erros.datas}}
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="row">
                        <div class="col-3">
                            <input type="datetime-local" value="{{data}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control mb-4">
                        </div>
                    </div>
                {{/if}}

                
                <div class="form-group">
                    <label for="importancia">Importância da tarefa</label>
                    <input type="hidden" id="importancia" value="{{importancia}}">
                    <select class="form-control" id="importancia" name="importancia">
                        <option id="baixa">Baixa</option>
                        <option id="media">Média</option>
                        <option id="alta">Alta</option>
                    </select>
                </div>
                
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaObra()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
                </form>
        </div>
    </div>
</div>

<script>  
    window.onload = function() {
        var obra = document.getElementById('id').getAttribute("value");
        document.getTarefa.action = "/obra/"+obra+"/addTarefa";
    };  

    var imp = document.getElementById('importancia').getAttribute("value");
    console.log(imp)
    if(imp == "Baixa"){
        document.getElementById("baixa").setAttribute("selected", "selected")
    }else{
        if(imp == "Média"){
            document.getElementById("media").setAttribute("selected", "selected")
        }
        else{
            if(imp == "Alta"){    
                document.getElementById("alta").setAttribute("selected", "selected")
            }
        }
    }

    var funcionariosSelecionados = {{{funcionariosSelecionados}}};
    if(funcionariosSelecionados){
        if(funcionariosSelecionados[0].length == 1){
            document.getElementById(funcionariosSelecionados).setAttribute("selected", "selected");
        }
        else{
            for(var i=0; i<funcionariosSelecionados.length; i++){
                document.getElementById(funcionariosSelecionados[i]).setAttribute("selected", "selected");
            }
        }
    }

    function saltaParaObra(){
        var obra = document.getElementById('id').getAttribute("value");
        window.location.href = "/obra/"+obra;
    }

    $('.multiselect').multiselect({
        enableHTML: true,
        nonSelectedText:'Funcionários a associar à tarefa',
        buttonWidth: '300px',
        optionLabel: function(element) {
            return '<img src="'+$(element).attr('data-img')+'" class="avatar"> '+$(element).text();
        }
    });
</script>