<div class="container-fluid pl-4 pr-4">

    <h2>Responder à submissão</h2>
    
        
    <div class="card mt-4">
        <div class="card-body">
            <form action="" id="form" name="getTarefa" method="POST" class="m-0">
                <input type="hidden" name="id" id="id" value="{{tarefa._id}}"> 

                <label for="nomeObra">Obra: {{obra.nome}}</label>
                <br>

                <label for="nome" class="mt-3">Tarefa: {{tarefa.nome}}</label>
                <br>
                    
                <label for="descricao" class="mt-3">Descrição da tarefa: {{tarefa.descricao}}</label>
                <br>
                    
                <label class="mt-3" for="datasPrevistas">Datas previstas: {{dateToString tarefa.dataPrevistaInicio}} - {{dateToString tarefa.dataPrevistaFim}}</label>
                <br>

                <label class="mt-3" for="importancia">Importancia: {{tarefa.importancia}}</label>
                <br>     

                <div class="modal fade" id="rejeitar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Rejeitar submissão</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Justificação:</label>
                                    <textarea class="form-control" name="justificacao"></textarea>
                                </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                
                                <button type="button" class="btn btn-success mt-3 mr-4" onclick="submitForm('recusar')"><i class="fa fa-check"></i> Concluir</button>
                                <button type="button" class="btn btn-danger mt-3" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button type="button" onclick="submitForm('aceitar')" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Aceitar</button>
                    <button type="button" class="btn btn-danger mt-3 mr-3" data-toggle="modal" data-target="#rejeitar" ><i class="fa fa-close"></i> Rejeitar</button>
                </div>


        </div>
    </div>
</div>

<script>
    function submitForm(acao){
        if(acao == "aceitar"){
            var tarefa = document.getElementById('id').getAttribute("value");
            document.getTarefa.action = "/tarefa/"+tarefa+"/responderSubmissao/accept";
            document.getTarefa.submit();
        }
        else{
            var tarefa = document.getElementById('id').getAttribute("value");
            document.getTarefa.action = "/tarefa/"+tarefa+"/responderSubmissao/reject";
            document.getTarefa.submit();
        }
    }

    function abreTextArea(){
        document.getElementById("textarea").setAttribute("style", "display: block");
    }


</script>