<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>

<div class="container-fluid mt-4 pr-4 pl-4">
    
    <h2 id="nomeFuncionario">Editar tarefa</h2>
    
        
    <div class="card mt-4 mb-5">
        <div class="card-body">
            <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="" method="POST">
                <input type="hidden" name="id" id="id" value="{{tarefa._id}}"> 


                {{#ifTerminar tarefa.estado}}
                    <label for="nome">Nome: {{tarefa.nome}}</label>
                    <br>
                                
                    <label for="descricao" class="mt-3 mb-4">Descrição: {{tarefa.descricao}}</label>
                    <br>

                    <label for="dataInicio">Data prevista para inicio: {{dateToString tarefa.dataInicio}}</label>
                    <br>
                    <br>

                    
                    <label id="progressoLabel">Progresso: </label>
                    <input type="range" value="{{tarefa.progresso}}" class="form-control-range" id="progresso" name="progresso" step="25" min="0" max="100">
                    {{else}}
                        {{#ifUR}}
                            <label for="nome">Nome*</label>
                            {{#if erros.nome}}
                                <input type="text" id="nome" name="nome" value="{{tarefa.nome}}" class="form-control is-invalid">
                                <div class="invalid-feedback mb-4">
                                    {{erros.nome}}
                                </div>
                            {{else}}
                                <input type="text" id="nome" name="nome" value="{{tarefa.nome}}" class="form-control mb-4">
                            {{/if}}
                            
                            <label for="descricao">Descrição*</label>
                            {{#if erros.descricao}}
                                <textarea class="form-control is-invalid" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da tarefa">{{tarefa.descricao}}</textarea>
                                <div class="invalid-feedback mb-4">
                                    {{erros.descricao}}
                                </div>
                            {{else}}
                                <textarea class="form-control mb-4" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição da tarefa">{{tarefa.descricao}}</textarea>
                            {{/if}}
                            
                            <div class="form-group mb-4">
                                <select multiple class="form-control multiselect" id="funcionarios" name="funcionarios">
                                    {{#each funcionarios}}
                                        <option value="{{nome}}" id="{{nome}}" data-img="{{foto}}">{{nome}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{else}}
                                <label for="nome">Nome: {{tarefa.nome}}</label>
                                <br>
                                
                                <label for="descricao" class="mt-3 mb-4">Descrição: {{tarefa.descricao}}</label>
                                <br>
                                
                            {{/ifUR}}


                            <label for="dataPrevistaInicio">Data prevista para inicio</label>
                            <div class="row">
                                <div class="col-3">
                                    {{#if erros.dataInicio}}
                                        <input type="datetime-local" value="{{dataPrevistaInicio}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control is-invalid">
                                        <div class="invalid-feedback mb-4">
                                            {{erros.dataInicio}}
                                        </div>
                                    {{else}}
                                        <input type="datetime-local" value="{{dataPrevistaInicio}}" name="dataPrevistaInicio" id="dataPrevistaInicio" class="form-control mb-4">
                                    {{/if}}
                                </div>
                            </div>
                            
                            <label for="dataPrevistaFim">Data prevista para fim</label>
                            <div class="row">
                                <div class="col-3">
                                    {{#if erros.dataFinal}}
                                        <input type="datetime-local" value="{{dataPrevistaFim}}" name="dataPrevistaFim" id="dataPrevistaFim" class="form-control is-invalid">
                                        <div class="invalid-feedback mb-4">
                                            {{erros.dataFinal}}
                                        </div>
                                    {{else}}
                                        <input type="datetime-local" value="{{dataPrevistaFim}}" name="dataPrevistaFim" id="dataPrevistaFim" class="form-control mb-4">
                                    {{/if}}
                                </div>
                            </div>

                            {{#ifUR}}
                            <div class="form-group">
                                <label for="importancia">Importância da tarefa</label>
                                <select class="form-control" value={{importancia}} id="importancia" name="importancia">
                                    <option id="baixa">Baixa</option>
                                    <option id="media">Média</option>
                                    <option id="alta">Alta</option>
                                </select>
                            </div>
                            {{else}}
                            
                                <label for="importancia">Importancia: {{tarefa.importancia}}</label>
                                <br>
                        {{/ifUR}}
                {{/ifTerminar}}
                
                
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaTarefa()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
        function saltaParaTarefa(){
        var obra = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+obra;
    }

    var funcionariosSelecionados = {{{funcionariosSelecionados}}};
    if(funcionariosSelecionados){
        console.log(funcionariosSelecionados)
        if(funcionariosSelecionados[0].length == 1){
            document.getElementById(funcionariosSelecionados).setAttribute("selected", "selected");
        }
        else{
            for(var i=0; i<funcionariosSelecionados.length; i++){
                document.getElementById(funcionariosSelecionados[i]).setAttribute("selected", "selected");
            }
        }
    }
    
    $('.multiselect').multiselect({
        enableHTML: true,
        nonSelectedText:'Funcionários a associar à tarefa',
        buttonWidth: '300px',
        optionLabel: function(element) {
            return '<img src="'+$(element).attr('data-img')+'" class="avatar"> '+$(element).text();
        }
    });

    var imp = document.getElementById('importancia').getAttribute("value");
    console.log(imp);
    if(imp == "Baixa"){
        document.getElementById("baixa").setAttribute("selected", "selected")
    }else{
        if(imp == "Média"){
            document.getElementById("media").setAttribute("selected", "selected")
        }
        else{
            if(imp == "Alta"){    
                document.getElementById("alta").setAttribute("selected", "selected")
            }
        }
    }


    var rangeValues =
    {
        "0": "Progresso: 0%",
        "25": "Progresso: 25%",
        "50": "Progresso: 50%",
        "75": "Progresso: 75%",
        "100": "Progresso: 100%"
    };


    $(function () {

        $('#progressoLabel').text(rangeValues[$('#progresso').val()]);

        $('#progresso').on('input change', function () {
            $('#progressoLabel').text(rangeValues[$(this).val()]);
        });

    });
</script>