<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}


<h2 onload="move()">Lista de tarefas</h2>
<hr>


<div class="row">
    <div class="col-6">
      <div class="btn-group mt-4" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary active">Lista</button>
        <button type="button" class="btn btn-secondary">Calendário</button>
        <button type="button" class="btn btn-secondary">Gantt</button>
      </div>
    </div>
    <div class="col-6 mt-4 text-right">
        <input class="form-control flex-grow-0" id="inputFiltro" type="text" placeholder="Filtro">
    </div>
</div>

{{#if tarefas}}
  <table class="mt-5" id="myTable">
    <thead>
      <tr>
        <th onclick="sortTable(0)">Nome</th>
        <th onclick="sortTable(1)">Data de inicio</th>
        <th onclick="sortTable(2)">Data de fim</th>
        <th onclick="sortTable(3)">Estado</th>
        <th onclick="sortTable2(4)">Progresso</th>
      </tr>
    </thead>
    
    <tbody id="filtro">
      {{#each tarefas}}
        <tr style="cursor: pointer;"  id="row" data-name="{{nome}}" onclick="saltaParaTarefa(this)">
            <td>{{nome}}</td>
            <td>{{dateToString dataInicio}}</td>
            <td>{{dateToString dataFim}}</td>
            <td>{{estadoToString estado}}</td>
            <td>
              <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" id ="{{progresso}}" role="progressbar" style="width: {{progresso}}%;" aria-valuenow="{{progresso}}" aria-valuemin="0" aria-valuemax="100" value="{{progresso}}">{{progresso}}%</div>
                </div>
            </td>
        </tr>
      {{else}}

      {{/each}}
    </tbody>
  </table>
{{else}}
{{/if}}


<script>
  $(document).ready(function(){
  $("#inputFiltro").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#filtro tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  
});


  function saltaParaTarefa(handle) {
        window.location.href = "/tarefa/"+handle.dataset.name;
    } 

    window.onload = function() {
        history.replaceState({}, null, "/tarefas")
    };

  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
  
    dir = "asc"; 
   
    while (switching) {
      
      switching = false;
      rows = table.rows;
     
      for (i = 1; i < (rows.length - 1); i++) {
        
        shouldSwitch = false;
        
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  } 

  function sortTable2(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
  
    dir = "asc"; 
   
    while (switching) {
      
      switching = false;
      rows = table.rows;
     
      for (i = 1; i < (rows.length - 1); i++) {
        
        shouldSwitch = false;
        
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        var xN = parseInt(x.getElementsByTagName("div")[1].getAttribute("id"))
        var yN = parseInt(y.getElementsByTagName("div")[1].getAttribute("id"))
        if (dir == "asc") {
          if (xN > yN) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (xN < yN) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  } 


</script>