
<div class="row">
    <div class="col-6">
        <h2>Tarefa</h2>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-dark" onclick="saltaParaEditar()">Editar</button>
        <button class="btn btn-dark" onclick="saltaParaRequisitar()">Requisitar máquina</button>
        <button class="btn btn-dark" onclick="saltaParaComecar()">Começar tarefa</button>
    </div>
</div>
<hr>

{{#each obra}}
    <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
        <div class="col-3 mt-2 text-left">
            <h6 class="blockquote">Obra</h6>
        </div>
        <div class="col-9 mt-2">
            <label for="nome" id="nomeObra">{{nome}}</label>
        </div>
    </div>
{{/each}}
 {{#each tarefa}}
    {{#if nome}}
        <input type="hidden" id="id" name="id" value="{{_id}}">
        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 mt-2 text-left">
                <h6 class="blockquote">Nome</h6>
            </div>
            <div class="col-9 mt-2">
                <label for="nome" id="nomeTarefa">{{nome}}</label>
            </div>
        </div>

        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 mt-2 text-left">
                <h6 class="blockquote">Descrição</h6>
            </div>

            <div class="col-9 mt-2">
                <label for="descricao" id="descricao">{{descricao}}</label>
            </div>
        </div>

        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 mt-2 text-left">
                <h6 class="blockquote">Importância</h6>
            </div>

            <div class="col-9 mt-2">
                <label for="descricao" id="descricao">{{importancia}}</label>
            </div>
        </div>


        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 mt-2 text-left">
                <h6 class="blockquote">Estado</h6>
            </div>

            <div class="col-9 mt-2">
                <label for="estado" id="estado">{{estadoToString estado}}</label>
            </div>
        </div>
        
         <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 mt-2 text-left">
                <h6 class="blockquote">Funcionários</h6>
            </div>
    {{/if}}
{{/each}}
            <div class="col-9 mt-2">
                {{#each funcionarios}}
                    <label for="funcionarios" id="funcionarios">{{nome}}</label><br>
                {{else}}
                {{/each}}    
            </div>
        </div>
{{#each tarefa}}
   {{#if nome}}


         <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            
            <div class="col-3 mt-2 text-left">
                <h6 class="blockquote">Datas previstas</h6>
            </div>
            <div class="col-9 mt-2">
                    {{dateToString dataPrevistaInicio}} - {{dateToString dataPrevistaFim}}
            </div>            
        </div>

         <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 mt-2 text-left">
                <h6 class="blockquote">Datas</h6>
            </div>
            
            <div class="col-9 mt-2">
                {{dateToString dataInicio}} - {{dateToString dataFim}}
            </div>
        </div>
    {{/if}}
 {{/each}}



<script>

    function setColor(handle){
        handle.style.backgroundColor = "rgb(95, 158, 160, 0.3)";
    }

    function setColor2(handle){
        handle.style.backgroundColor = "white";
    }

    
    function saltaParaEditar() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/edit";
    }

    function saltaParaRequisitar() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/edit";
    }

    function saltaParaComecar() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/edit";
    }
</script>
 