
<div class="row">
    <div class="col-6">
        <h2>Tarefa</h2>
    </div>
    <div class="col-6 text-right">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-navicon fa-2x"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" onclick="saltaParaEditar()" style="cursor: pointer;">Editar</a>
            {{#ifSubmeteu tarefa.estado}}
                <a class="dropdown-item" onclick="saltaParaValidar()" style="cursor: pointer;">Submeter tarefa para validação</a>
                {{else}}
                {{#ifComecar tarefa.estado}}
                    <a class="dropdown-item" onclick="saltaParaComecar()" style="cursor: pointer;">Começar tarefa</a>
                {{else}}
                    {{#ifUR}}
                        <a class="dropdown-item" onclick="saltaParaResponder()" style="cursor: pointer;">Responder à submissão</a>
                    {{/ifUR}}
                {{/ifComecar}}
            {{/ifSubmeteu}}
            {{#ifImAdmin}}
                <a class="dropdown-item" onclick="saltaParaTarefaReport()" style="cursor: pointer;">Gerar relatório da tarefa</a>
            {{/ifImAdmin}}
            <a class="dropdown-item" onclick="saltaParaRequisitar()" style="cursor: pointer;">Requisitar máquina</a>
            </div>
        </li>
        </ul>
    </div>
</div>
<hr>

    <div class="row col-12 mt-4" onmouseover="setColor(this)" onmouseout="setColor2(this)">
        <div class="col-3 p-3 text-left">
            <h6 class="blockquote m-0">Obra</h6>
        </div>
        <div class="col-9 p-3">
            <label for="nome" id="nomeObra" class="m-0">{{obra.nome}}</label>
        </div>
    </div>
        <input type="hidden" id="id" name="id" value="{{tarefa._id}}">
        <div class="row col-12 mt-4" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Nome</h6>
            </div>
            <div class="col-9 p-3">
                <label for="nome" id="nomeTarefa" class="m-0">{{tarefa.nome}}</label>
            </div>
        </div>

        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Descrição</h6>
            </div>

            <div class="col-9 p-3">
                <label for="descricao" id="descricao" class="m-0">{{tarefa.descricao}}</label>
            </div>
        </div>

        {{#ifImAdmin}}
        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Despesa</h6>
            </div>

            <div class="col-9 p-3">
                <label for="descricao" id="descricao" class="m-0">{{precoToString tarefa.despesa}}</label>
            </div>
        </div>

        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Orçamento</h6>
            </div>

            <div class="col-9 p-3">
                <label for="descricao" id="descricao" class="m-0">{{precoToString tarefa.orcamento}}</label>
            </div>
        </div>
        {{/ifImAdmin}}

        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Importância</h6>
            </div>

            <div class="col-9 p-3">
                <label for="descricao" id="descricao" class="m-0">{{tarefa.importancia}}</label>
            </div>
        </div>


        <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Estado</h6>
            </div>

            <div class="col-9 p-3">
                <label for="estado" id="estado" class="m-0">{{estadoToString tarefa.estado}}</label>
            </div>
        </div>
        
         <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Funcionários</h6>
            </div>
   
            <div class="col-9 p-3">
                {{#each funcionarios}}
                    <label for="funcionarios" id="funcionarios">{{nome}}</label><br>
                {{else}}
                {{/each}}    
            </div>
        </div>


         <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Datas previstas</h6>
            </div>
            <div class="col-9 p-3">
                    {{dateToString tarefa.dataPrevistaInicio}} - {{dateToString tarefa.dataPrevistaFim}}
            </div>            
        </div>

         <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
            <div class="col-3 p-3 text-left">
                <h6 class="blockquote m-0">Datas</h6>
            </div>
            
            <div class="col-9 p-3">
                {{dateToString tarefa.dataInicio}} - {{dateToString tarefa.dataFim}}
            </div>
        </div>

<script>

    function setColor(handle){
        handle.style.backgroundColor = "rgb(95, 158, 160, 0.3)";
    }

    function setColor2(handle){
        handle.style.backgroundColor = "white";
    }

    
    function saltaParaEditar() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/edit";
    }

    function saltaParaRequisitar() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/edit";
    }

    function saltaParaComecar() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/edit";
    }

    function saltaParaValidar() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/validar";
    }

    function saltaParaResponder() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/responderSubmissao";
    }

    function saltaParaTarefaReport() {
        tarefa = document.getElementById('id').getAttribute("value");
        window.location.href = "/tarefa/"+tarefa+"/generateReport";
    }
    
</script>
 