<h2>Lista de obras</h2>
<hr>

<div class="btn-group mt-4" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary active">Lista</button>
  <button type="button" class="btn btn-secondary">Calendário</button>
  <button type="button" class="btn btn-secondary">Gantt</button>
</div>

<div class="row mt-5">
    <div class="col-3 font-weight-bold">Nome</div>
    <div class="col-2 font-weight-bold">Data de inicio</div>
    <div class="col-2 font-weight-bold">Data de fim</div>
    <div class="col-3 font-weight-bold">Estado</div>
    <div class="col-2 font-weight-bold">Orçamento</div>
</div>

<hr class="style16">
{{#each obras}}
    <div class="row mt-5" data-name="{{nome}}" onclick="saltaPoCrl(this)">
        <div class="col-3">{{nome}}</div>
        <div class="col-2">{{dataDeInicio}}</div>
        <div class="col-2">{{dataDeFim}}</div>
        {{#ifCond estado "preOrcamento"}}
            <div class="col-3">Pre Orçamento</div>
        {{else}}
            {{#ifCond estado "aAguardar"}}
                <div class="col-3">A aguardar</div>
            {{/ifCond}}
        {{/ifCond}}
        <div class="col-2">{{orcamento}}</div>
    </div>
<hr class="style16">
{{else}}

{{/each}}

<script>
    function saltaPoCrl(handle) {
        window.location.href = "/obras/"+handle.dataset.name;
    } 
</script>
