<div class="container mt-4">

    <div class="text-center mt-5">
        <h2>Registo</h2>
    </div>
    <div class="card mt-5 mb-5">
        <div class="card-body">
            <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="/registo" enctype="multipart/form-data" method="POST">
                <label for="nome">Nome*</label>
                {{#if erros.nome}}
                    <input type="nome" name="nome" value="{{nomeF}}" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.nome}}
                    </div>
                {{else}}
                    <input type="nome" name="nome" value="{{nomeF}}" class="form-control mb-4">
                {{/if}}


                <label for="funcao">Função na empresa*</label>
                {{#if erros.funcao}}
                    <input type="funcao" class="form-control is-invalid" value="{{funcao}}" name="funcao">
                    <div class="invalid-feedback mb-4">
                        {{erros.funcao}}
                    </div>
                {{else}}
                    <input type="funcao" class="form-control mb-4" value="{{funcao}}" name="funcao">
                {{/if}}


                <label for="departamento">Departamento*</label>
                {{#if erros.departamento}}
                    <input type="departamento" class="form-control is-invalid" value="{{departamento}}" name="departamento">
                    <div class="invalid-feedback mb-4">
                        {{erros.departamento}}
                    </div>
                {{else}}
                    <input type="departamento" class="form-control mb-4" value="{{departamento}}" name="departamento">
                {{/if}}
                
                
                <label for="equipa">Equipa*</label>
                {{#if erros.equipa}}
                    <input type="equipa" class="form-control is-invalid" value="{{equipa}}" name="equipa">
                    <div class="invalid-feedback mb-4">
                        {{erros.equipa}}
                    </div>
                {{else}}
                    <input type="equipa" class="form-control mb-4" value="{{equipa}}" name="equipa">
                {{/if}}

                <label for="email">Email*</label>
                {{#if erros.email}}
                    <input type="email" class="form-control is-invalid" value="{{email}}" name="email">
                    <div class="invalid-feedback mb-4">
                        {{erros.email}}
                    </div>
                {{else}}
                    <input type="email" class="form-control mb-4" value="{{email}}" name="email">
                {{/if}}

                <label for="foto">Foto de perfil</label>
                <input type="file" class="form-control-file mb-4" name="file" id="file" placeholder="Foto">                
                
                <label for="password">Password*</label>
                {{#if erros.password}}
                    <input type="password" class="form-control is-invalid" name="password">
                    <div class="invalid-feedback mb-4">
                        {{erros.password}}
                    </div>
                {{else}}
                    <input type="password" class="form-control mb-4" name="password">
                {{/if}}


                <label for="password2">Repita a password*</label>
                {{#if erros.password2}}
                    <input type="password" class="form-control is-invalid" name="password2">
                    <div class="invalid-feedback mb-4">
                        {{erros.password2}}
                    </div>  
                {{else}}
                    <input type="password" class="form-control mb-4" name="password2">
                {{/if}}
                
                
                <div class="mt-5 mb-5 col-12 text-center">
                    <button class="btn btn-info col-5" type="submit">Criar conta</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    function saltaParaRegisto(){
        window.location.href = "/registo";
    }
    window.onload = function(){
        history.replaceState({}, null, '/registo')
    }
</script>