<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>

<link href='fullcalendar-4.4.2/packages/core/main.css' rel='stylesheet' />
<link href='fullcalendar-4.4.2/packages/daygrid/main.css' rel='stylesheet' />
<link href='fullcalendar-4.4.2/packages/bootstrap/main.css' rel='stylesheet' />
<!--<link href='lib/main.css' rel='stylesheet' />-->


<script src='fullcalendar-4.4.2/packages/core/main.js'></script>
<script src='fullcalendar-4.4.2/packages/daygrid/main.js'></script>
<script src='fullcalendar-4.4.2/packages/bootstrap/main.js'></script>
<!-- <script src='lib/main.js'></script>-->

<script>
  /*document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('gantt');

  var e = {{{obrasS}}};
    var resources = [];
    for(var i=0; i<e.length; i++){
      resources[i] = e[i];
    }
    for(var i=0; i<e.length; i++){
      resources[i].tittle = resources[i].nome;
    }

var calendar = new FullCalendar.Calendar(calendarEl, {
  now: '2020-06-07',
  scrollTime: '00:00', // undo default 6am scrollTime
  selectable: true,
  aspectRatio: 1.8,
  headerToolbar: {
    left: 'today prev,next',
    center: 'title',
    right: 'resourceTimelineDay,resourceTimelineThreeDays,timeGridWeek'
  },
  initialView: 'resourceTimelineDay',
  views: {
    resourceTimelineThreeDays: {
      type: 'resourceTimeline',
      duration: { days: 3 },
      buttonText: '3 days'
    }
  },
  resourceAreaHeaderContent: 'Rooms',
  resources: [
    { id: 'a', title: 'Auditorium A' },
    { id: 'b', title: 'Auditorium B', eventColor: 'green' },
    { id: 'c', title: 'Auditorium C', eventColor: 'orange' },
    { id: 'd', title: 'Auditorium D', children: [
      { id: 'd1', title: 'Room D1' },
      { id: 'd2', title: 'Room D2' }
    ] },
    { id: 'e', title: 'Auditorium E' },
    { id: 'f', title: 'Auditorium F', eventColor: 'red' },
    { id: 'g', title: 'Auditorium G' },
    { id: 'h', title: 'Auditorium H' },
    { id: 'i', title: 'Auditorium I' },
    { id: 'j', title: 'Auditorium J' },
    { id: 'k', title: 'Auditorium K' },
    { id: 'l', title: 'Auditorium L' },
    { id: 'm', title: 'Auditorium M' },
    { id: 'n', title: 'Auditorium N' },
    { id: 'o', title: 'Auditorium O' },
    { id: 'p', title: 'Auditorium P' },
    { id: 'q', title: 'Auditorium Q' },
    { id: 'r', title: 'Auditorium R' },
    { id: 's', title: 'Auditorium S' },
    { id: 't', title: 'Auditorium T' },
    { id: 'u', title: 'Auditorium U' },
    { id: 'v', title: 'Auditorium V' },
    { id: 'w', title: 'Auditorium W' },
    { id: 'x', title: 'Auditorium X' },
    { id: 'y', title: 'Auditorium Y' },
    { id: 'z', title: 'Auditorium Z' }
  ],
  events: [
    { id: '1', resourceId: 'b', start: '2020-06-07T02:00:00', end: '2020-06-07T07:00:00', title: 'event 1' },
    { id: '2', resourceId: 'c', start: '2020-06-07T05:00:00', end: '2020-06-07T22:00:00', title: 'event 2' },
    { id: '3', resourceId: 'd', start: '2020-06-06', end: '2020-06-08', title: 'event 3' },
    { id: '4', resourceId: 'e', start: '2020-06-07T03:00:00', end: '2020-06-07T08:00:00', title: 'event 4' },
    { id: '5', resourceId: 'f', start: '2020-06-07T00:30:00', end: '2020-06-07T02:30:00', title: 'event 5' }
  ]
});

calendar.render();
calendarEl.style.display = "none";
});*/


</script>
</style>

<div class="container-fluid pl-4 pr-4">
  

  <div class="row">
    <div class="col-md-4">
      <h2>Lista de obras</h2>
    </div>

    {{#ifUR}}
      <div class="col-md-8 text-right">
        <button type="button" class="btn btn-light btn-outline-info mr-2" onclick="saltaParaAddObra()"style="cursor: pointer;"><i class="fa fa-plus-circle"></i> Nova Obra</button>  
        <button type="button" class="btn btn-light btn-outline-info" onclick="saltaParaDownloadReport()" style="cursor: pointer;"><i class="fa fa-download"></i> Download Relatório</button>
      </div>
    {{/ifUR}}
  </div>
  <hr>
  <br>

  <nav id="navbar">
    <ul class="nav nav-tabs" id="nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" onclick="lista()" style="cursor: pointer;">Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="calendario()" style="cursor: pointer;">Calendário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="gantt()" style="cursor: pointer;">Gantt</a>
      </li>

      <li class="navbar-nav ml-auto" style="width: 30%;">
        <input class="form-control flex-grow-0" id="inputFiltro" type="text" placeholder="Filtro">
      </li>
    </ul>
  </nav>


  <div id="lista" style="overflow-x:auto;">
    {{#if obras}}
    <table class="mt-5 table" id="myTable">
      <thead>
        <tr>
          <th onclick="sortTable(0)" scope="col">Nome <i class="fa fa-angle-down"> </i></th>
          <th onclick="sortTableDatas(1)" scope="col">Datas Previstas <i class="fa fa-angle-down"> </i></th>
          <th onclick="sortTableDatas(2)" scope="col">Datas <i class="fa fa-angle-down"> </i></th>
          <th onclick="sortTable(3)" scope="col">Estado <i class="fa fa-angle-down"> </i></th>
          {{#ifImAdmin}}
          <th onclick="sortTablePrecos(4)" scope="col">Orçamento <i class="fa fa-angle-down"> </i>
            {{/ifImAdmin}}
          </th>
        </tr>
      </thead>

      <tbody id="filtro">
        {{#each obras}}
        <tr style="cursor: pointer;" id="row" data-name="{{_id}}" onclick="saltaParaObra(this)">
          <td scope="row">{{nome}}</td>
          <td>{{dateToString dataPrevistaInicio}} - {{dateToString dataPrevistaFim}}</td>
          <td>{{dateToString dataInicio}} - {{dateToString dataFim}}</td>
          <td>{{estadoToString estado}}</td>
          {{#ifImAdmin}}
          <td>{{precoToString orcamento}}</td>
          {{/ifImAdmin}}
        </tr>
        {{else}}

        {{/each}}
      </tbody>
    </table>
    {{else}}

    {{/if}}
  </div>


  <div class="mt-5" id="infos" style="display: none;">
      <h4>Informações</h4>
      <span style="font-weight: bold;">Filtre por nome da obra. <br>
      </span>
      <i class="fa fa-circle" style="color: #D2691E;"></i> Datas previstas - obras em pré-orçamento que ainda não têm data prevista de fim calculada <br>
      <i class="fa fa-circle" style="color: #008B8B;"></i> Datas previstas - obras por começar<br>
      <i class="fa fa-circle" style="color: #008000;"></i> Datas - obras em execução às quais estão dentro do prazo previsto<br>
      <i class="fa fa-circle" style="color: #FF0000;"></i> Datas - obras em execução às quais já passaram o prazo final previsto<br>
      <i class="fa fa-circle" style="color: #778899;"></i> Datas - obras concluídas <br>
  </div>
  <div id='calendar' style="display: none;"></div>
  <div id='gantt'></div>
</div>

<script>
  $(document).ready(function () {
    $("#inputFiltro").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#filtro tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });

      calendar();
    });
  });

  function saltaParaObra(handle) {
    window.location.href = "/obra/" + handle.dataset.name;
  }

  function saltaParaDownloadReport(handle) {
    window.location.href = "/obras/downloadReport";
  }


  function saltaParaAddObra(handle) {
    window.location.href = "/obras/add";
  }

  window.onload = function () {
    history.replaceState({}, null, '/obras')
  }

  function lista() {

    var lista = document.getElementById("lista");
    var calendario = document.getElementById("calendar");
    var gantt = document.getElementById("gantt");
    var infos = document.getElementById("infos");
    infos.style.display = "none";
    lista.style.display = "block";
    calendario.style.display = "none";
    gantt.style.display = "none";

    var navbar = document.getElementById("nav-tabs");
    navbar.getElementsByTagName("a")[0].setAttribute("class", "nav-link active")
    navbar.getElementsByTagName("a")[1].setAttribute("class", "nav-link")
    navbar.getElementsByTagName("a")[2].setAttribute("class", "nav-link")
  }

  function calendario() {
    var lista = document.getElementById("lista");
    var calendario = document.getElementById("calendar");
    var gantt = document.getElementById("gantt");
    var infos = document.getElementById("infos");
    infos.style.display = "block";
    lista.style.display = "none";
    calendario.style.display = "block";
    gantt.style.display = "none";

    var navbar = document.getElementById("nav-tabs");
    navbar.getElementsByTagName("a")[0].setAttribute("class", "nav-link")
    navbar.getElementsByTagName("a")[1].setAttribute("class", "nav-link active")
    navbar.getElementsByTagName("a")[2].setAttribute("class", "nav-link")
    calendar();
  }

  function calendar(){
    var value = $($("#inputFiltro")).val().toLowerCase();
      $("#filtro tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
      var calendarEl = document.getElementById('calendar');
      var e = {{{ obrasS }}};
      calendarEl.innerHTML = "";
      var eventos = [];
      for (var i = 0; i < e.length; i++) {
        if(e[i].nome.includes(value))
          eventos.push(e[i]);
      }
      for (var i = 0; i < eventos.length; i++) {
        eventos[i].title = eventos[i].nome;
        eventos[i].start = eventos[i].dataPrevistaInicio;
        if (eventos[i].dataPrevistaFim == undefined) {
          eventos[i].end = eventos[i].start;
        }
        else {
          eventos[i].end = eventos[i].dataPrevistaFim
        }
        eventos[i].url = "/obra/" + eventos[i]._id;
        if (eventos[i].estado == "preOrcamento")
          eventos[i].color = '#D2691E';
        else {
          if (eventos[i].estado == "preProducao" || eventos[i].estado == "aAguardarResposta")
            eventos[i].color = '#008B8B';
          else {
            if(eventos[i].estado == "producao"){
              if(moment(eventos[i].dataPrevistaFim).isAfter(moment())){
                eventos[i].color = '#008000';
              }
              else{
                eventos[i].color = '#FF0000';
              }
            }
            else{
                eventos[i].color = '#778899';
            }
          }
        }
      }

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid'],
        locale: 'pt',
        header: { // layout header
          left: '',
          center: 'title',
          right: 'prev, next'
        },
        displayEventTime: false,
        events: eventos
      });


      calendar.render();
  }

  function gantt() {
    var lista = document.getElementById("lista");
    var calendario = document.getElementById("calendar");
    var gantt = document.getElementById("gantt");
    var infos = document.getElementById("infos");
    infos.style.display = "none";
    lista.style.display = "none";
    calendario.style.display = "none";
    gantt.style.display = "block";

    var navbar = document.getElementById("nav-tabs");
    navbar.getElementsByTagName("a")[0].setAttribute("class", "nav-link")
    navbar.getElementsByTagName("a")[1].setAttribute("class", "nav-link")
    navbar.getElementsByTagName("a")[2].setAttribute("class", "nav-link active")
  }

  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;

    dir = "asc";

    while (switching) {

      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {

        shouldSwitch = false;

        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];

        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }

    for (var i = 0; i < 5; i++) {
      if (i != n)
        table.getElementsByTagName("th")[i].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-down")
    }

    if (table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].getAttribute("class") == "fa fa-angle-down")
      table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-up");
    else
      table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-down");
  }

  function sortTableDatas(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;

    dir = "asc";

    while (switching) {

      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {

        shouldSwitch = false;

        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        const xDate = moment(x.innerHTML,'DD/MM/YYYY HH:mm').format('YYYY-MM-DD HH:mm');
        const yDate = moment(y.innerHTML,'DD/MM/YYYY HH:mm').format('YYYY-MM-DD HH:mm');
        if(moment(xDate).isValid() && moment(yDate).isValid){
          if (dir == "asc") {
            if (moment(yDate).isBefore(xDate)) {
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (moment(yDate).isAfter(xDate)) {
              shouldSwitch = true;
              break;
            }
          }
        }        
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }

    for (var i = 0; i < 5; i++) {
      if (i != n)
        table.getElementsByTagName("th")[i].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-down")
    }

    if (table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].getAttribute("class") == "fa fa-angle-down")
      table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-up");
    else
      table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-down");
  }


  function sortTablePrecos(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;

    dir = "asc";

    while (switching) {

      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {

        shouldSwitch = false;

        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        var valueX = parseInt(x.innerHTML);
        var valueY = parseInt(y.innerHTML);
    
        if(isNaN(valueX) && !isNaN(valueY)){
          shouldSwitch = true;
          break;
        }
        if (dir == "asc") {
          if (valueX > valueY) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (valueX < valueY) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }

    for (var i = 0; i < 5; i++) {
      if (i != n)
        table.getElementsByTagName("th")[i].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-down")
    }

    if (table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].getAttribute("class") == "fa fa-angle-down")
      table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-up");
    else
      table.getElementsByTagName("th")[n].getElementsByTagName("i")[0].setAttribute("class", "fa fa-angle-down");
  }

</script>