<div class="container-fluid pl-4 pr-4">
    
    {{#each erros}}
        <div class="alert alert-danger">{{texto}}</div>
    {{else}}

    {{/each}}
    
    <h2 id="nomeMaquina">Editar máquina {{maquina.nome}}</h2>
    
    <div class="card mt-4">
        <div class="card-body">
            <label for="nome" style="opacity: 0.5;">*Campos de preenchimento obrigatório</label>
            <form action="" name="getMaquina" method="POST">
                <input type="hidden" id="id" value="{{maquina._id}}">
                <label for="nome">Nome*</label>
                {{#if erros.nome}}
                    <input type="text" id="nome" name="nome" value="{{maquina.nome}}" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.nome}}
                    </div>
                {{else}}
                    <input type="text" id="nome" name="nome" value="{{maquina.nome}}" class="form-control mb-4">
                {{/if}}

                <label for="departamento">Departamento*</label>
                {{#if erros.departamento}}
                    <input type="text" id="departamento" name="departamento" value="{{maquina.departamento}}" class="form-control is-invalid">
                    <div class="invalid-feedback mb-4">
                        {{erros.departamento}}
                    </div>
                {{else}}
                    <input type="text" id="departamento" name="departamento" value="{{maquina.departamento}}" class="form-control mb-4">
                {{/if}}

                {{#ifImAdmin}}
                    <label for="custo">Custo por hora*</label>
                    {{#if erros.custo}}
                        <input type="text" id="custo" name="custo" value="{{maquina.custo}}" class="form-control is-invalid">
                        <div class="invalid-feedback mb-4">
                            {{erros.custo}}
                        </div>
                    {{else}}
                        <input type="text" id="custo" name="custo" value="{{maquina.custo}}" class="form-control mb-4">
                    {{/if}}

                {{else}}
                {{/ifImAdmin}}
                
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success mt-3 mr-4"><i class="fa fa-check"></i> Concluir</button>
                    <button type="button" onclick="saltaParaMaquina()" class="btn btn-danger mt-3 mr-3"><i class="fa fa-close"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
                    
 <script>
    var maquina = document.getElementById('id').getAttribute("value");
    document.getMaquina.action = "/maquina/"+maquina+"/edit";

    function saltaParaMaquina(){
        var maquina = document.getElementById('id').getAttribute("value");
        window.location = "/maquina/"+maquina;
    }

 </script>