<div class="container-fluid pl-4 pr-4">

    <div class="row">
        <div class="col-md-4">
            <h2>Máquina</h2>
        </div>

        {{#ifUR}}
        <div class="col-8 text-right">
            <button type="button" class="btn btn-light btn-outline-info mr-2" onclick="saltaParaEditar()" style="cursor: pointer;"><i class="fa fa-edit"></i> Editar</button>
            <button type="button" class="btn btn-light btn-outline-info mr-2" onclick="saltaParaRemover()" style="cursor: pointer;"><i class="fa fa-trash"></i> Remover</button>
        </div>
        {{/ifUR}}
    </div>
    <hr>

        
    <input type="hidden" id="id" name="id" value="{{maquina._id}}">
    <div class="row col-12" id="infoHover">
        <div class="col-md-3 p-3 text-left">
            <h6 class="blockquote m-0">Nome</h6>
        </div>
        <div class="col-md-9 p-3">
            <label for="nome" id="nome" class="m-0">{{maquina.nome}}</label>
        </div>
    </div>

    <div class="row col-12" id="infoHover">
        <div class="col-md-3 p-3 text-left">
            <h6 class="blockquote m-0">Função</h6>
        </div>
        <div class="col-md-9 p-3">
            <label for="funcao" id="funcao" class="m-0">{{maquina.funcao}}</label>
        </div>
    </div>

    <div class="row col-12" id="infoHover">
        <div class="col-md-3 p-3 text-left">
            <h6 class="blockquote m-0">Departamento</h6>
        </div>

        <div class="col-md-9 p-3">
            <label for="departamento" id="departamento" class="m-0">{{maquina.departamento}}</label>
        </div>
    </div>

    {{#ifImAdmin}}
    <div class="row col-12" id="infoHover">
        <div class="col-md-3 p-3 text-left">
            <h6 class="blockquote m-0">Custo</h6>
        </div>

        <div class="col-md-9 p-3">
            <label for="custo" id="custo" class="m-0">{{maquina.custo}} €</label>
        </div>
    </div>
    {{else}}
    {{/ifImAdmin}}
</div>

<script>

    
    function saltaParaRemover(){
        maquina = document.getElementById('id').getAttribute("value");
        window.location.href = "/maquina/"+maquina+"/remove";
    }
    function saltaParaEditar() {
        maquina = document.getElementById('id').getAttribute("value");
        window.location.href = "/maquina/"+maquina+"/edit";
    }
</script>
 