<div class="container-fluid mt-4">

    <div class="row">
        <div class="col-6">
            <h2>Máquina</h2>
        </div>
        <div class="col-6 text-right">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-navicon fa-2x"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" onclick="saltaParaEditar()" style="cursor: pointer;">Editar</a>
                </div>
            </li>
            </ul>
        </div>
    </div>
    <hr>

        
    <input type="hidden" id="id" name="id" value="{{maquina._id}}">
    <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
        <div class="col-3 p-3 text-left">
            <h6 class="blockquote m-0">Nome</h6>
        </div>
        <div class="col-9 p-3">
            <label for="nome" id="nomeTarefa" class="m-0">{{maquina.nome}}</label>
        </div>
    </div>

    <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
        <div class="col-3 p-3 text-left">
            <h6 class="blockquote m-0">Departamento</h6>
        </div>

        <div class="col-9 p-3">
            <label for="departamento" id="departamento" class="m-0">{{maquina.departamento}}</label>
        </div>
    </div>

    {{#ifImAdmin}}
    <div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
        <div class="col-3 p-3 text-left">
            <h6 class="blockquote m-0">Custo</h6>
        </div>

        <div class="col-9 p-3">
            <label for="custo" id="custo" class="m-0">{{maquina.custo}} €</label>
        </div>
    </div>
    {{else}}
    {{/ifImAdmin}}
</div>

<script>

    function setColor(handle){
        handle.style.backgroundColor = "rgb(95, 158, 160, 0.3)";
    }

    function setColor2(handle){
        handle.style.backgroundColor = "white";
    }

    function saltaParaTras() {
        window.location.href = "/maquinas";
    }
    
    function saltaParaEditar() {
        maquina = document.getElementById('id').getAttribute("value");
        window.location.href = "/maquina/"+maquina+"/edit";
    }
</script>
 