
<div class="row">
    <div class="col-6">
        <h2>Máquina {{maquina.nome}}</h2>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-dark" onclick="saltaParaEditar()">Editar</button>
        <button class="btn btn-dark" onclick="saltaParaTras()" >Voltar</button>
    </div>
</div>
<hr>

    
<input type="hidden" id="id" name="id" value="{{maquina._id}}">
<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Nome</h6>
    </div>
    <div class="col-9 mt-2">
        <label for="nome" id="nomeTarefa">{{maquina.nome}}</label>
    </div>
</div>

<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Departamento</h6>
    </div>

    <div class="col-9 mt-2">
        <label for="departamento" id="departamento">{{maquina.departamento}}</label>
    </div>
</div>

{{#ifImAdmin}}
<div class="row mt-4 col-12" onmouseover="setColor(this)" onmouseout="setColor2(this)">
    <div class="col-3 mt-2 text-left">
        <h6 class="blockquote">Custo</h6>
    </div>

    <div class="col-9 mt-2">
        <label for="custo" id="custo">{{maquina.custo}} €</label>
    </div>
 </div>
 {{else}}
 {{/ifImAdmin}}

<script>

    function setColor(handle){
        handle.style.backgroundColor = "rgb(95, 158, 160, 0.3)";
    }

    function setColor2(handle){
        handle.style.backgroundColor = "white";
    }

    function saltaParaTras() {
        window.location.href = "/maquinas";
    }
    
    function saltaParaEditar() {
        maquina = document.getElementById('id').getAttribute("value");
        window.location.href = "/maquina/"+maquina+"/edit";
    }
</script>
 